body{
    background-color: darksalmon;
    vertical-align: middle;
}
#h1{
 content: "Grade Calculator";
}

#Fail{
    font-size: x-large;
}
#myButton{
   color: darkred;
    text-decoration-color: white;
}